.carousel-img {
    aspect-ratio: 16/9;
    border: none;
    border-radius: 46px;
}

.carousel-control-next,
.carousel-control-prev, 
.carousel-indicators  {
    filter: invert(100%);
}

.carousel .carousel-indicators button {
    height: 4px;
    width: 16px;
    border: none;
    border-radius: 4px;
}