@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,900&display=swap');

.news-heading {
    color: #ff0000;
    font-size: 2.5rem;
    font-weight: 600;
    font-family: 'Merriweather', serif;
    font-style: italic;
    text-decoration: underline;
    text-align: center;
    margin: 1rem;
}

.news-cards-container {
    width: 90%;
    gap: 1rem;
    flex-wrap: wrap;
    margin: 1.5rem 0;
}


.page-no {
    width: 30px;
    height: 30px;    
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
    border: 1px solid #373737;
    border-radius: 4px;
    margin: 0.5rem;
}


.selected-page {
    color: #ff0000;
    border: 2px solid #ff0000;
}